body {
	background-image: url('../images/popsicles.jpeg');
}

.header {
	background-color: #0041aa;
	padding: 1em 0;
}

.container {
	/*display: flex;*/
	width: 80%;
	height: 90%;
	border: solid 1px grey;
	margin: 40px auto;
	/*padding: 40px;*/
	background-color: #f8ff7f;
	padding: 1em;
	/*position: absolute;*/
}

.title {
	font-family: 'Libre Baskerville', serif;
	margin: .5em;
	/*padding-top: .5em;*/
	text-align: center;
	font-size: 44px;
	color: white;
	display: block;
}

.button-drop {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.inputs {
	display: block;
	/*display: flex;
	justify-content: center;*/
	width: 60%;
	padding: .8em;
	margin: 1em;
	border-radius: 10px
}

.input-button {
	font-size: 14px;
	border-radius: 8px;
	border: 2px outset;
	font-family: 'Merriweather', serif;
}

.category {
	background-color: #0acbce;
	color: black;
	font-size: 16px;
	border-radius: 8px;
	border: 2px outset;
	margin-right: .5em;
	margin-bottom: .5em;
	font-family: 'Merriweather', serif;
	/*box-shadow: 1px 1px 1px #350e0e;*/
}